<ion-app>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" [translucent]="true">
      <ion-tab-button tab="music/directories">
        <ion-icon name="folder-open-outline"></ion-icon>
        <ion-label>Folders</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
