<ion-header>
  <ion-toolbar>
    <ion-title>Folders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-button (click)="handleRefresh()" expand="block" color="primary">Refresh Folders</ion-button>
    </ion-row>

    <ion-row>
      <ion-col sizeXs="6" sizeSm="4" sizeLg="3" sizeXl="3" *ngFor="let f of folders;">
        <ion-card
          (click)="handleSelect(f.name)"
          routerLink="/music/{{ f.name }}"
        >
          <ion-card-content>
            <ion-icon slot="start" name="folder-open-outline"></ion-icon>
            <ion-label>{{ f.name }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
